/* Global Style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  color: #333;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  /* 
  display: flex;
  flex-direction: row;
  */
  max-width: 1200px;
}

.nav-bar {
  background-color: orange;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-wrapper {
  display: flex;
  justify-content:space-between;
  align-items:center;
}

/*
.menu-items{
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}
*/

/*
.items{
  display: flex;
  flex-direction: row;
  flex: 1;
  
}
*/

.nav-links {
  display: flex;
  /* flex: 1; */
  /* list-style: none; */
  gap: 20px;
  /* align-items:center; */
  justify-content: space-between;
}

.img-logo {
  width: 160px;
  padding-top: 2px;
}

/* hero section */
.container-hero {
  /* background-color: blue; */
  /*height: 450px;
  text-align: center;*/
  /* margin-top: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hero-section {
  background-image: url("youth.jpg");
  min-height: 95vh;
  align-items: center;
}

.container-hero-section {
  margin-top: 310px;
}

/* link styles */
.partner-link {
  background-color: purple;
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.5s;
}

.partner-link:hover {
  background-color:  white; 
  color: purple;
}

.explore-link {
  background-color: rgb(165, 185, 18);
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 5px;
  margin-left: 12px;
  margin-right: 12px;
  font-weight: bold;
  transition: 0.5s;
}

.explore-link:hover {
  background-color:  white; 
  color: purple;
}

.hire-link {
  background-color:  white; 
  color: purple;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.5s;
}

.hire-link:hover {
  background-color:  rgb(45, 1, 147); 
  color: white;
}

.learn-link {
  background-color: rgb(165, 185, 18);
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.hyper-links {
  margin-top: 40px;
  cursor: pointer;
}

/* styles for par */
h1 {
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
}

p {
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
}

.par, .par-2, .course-par {
  color:black;
  font-weight: 100;
  font-size: 20px;
}

.paragr {
  margin-left: 140px;
}

.refactory-img {
  width: 500px;
}

.second-flex {
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 50px;
  justify-content: space-between;
}

ul {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
}

.start-head {
  color: rgb(56, 191, 195);
}

.feature-head {
  color: purple;
}

.headings {
  text-align: center;
  margin-top: 80px;
}

.head-course {
  color: purple;
}

.course-button {
  background-color: rgb(165, 185, 18);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  font-size: 15px;
}

.course-1, .course-2, .course-3 {
  width: 350px;
}

.div-course-1, .div-course-2, .div-course-3 {
  width: 348px;
}

.img-course-1, .img-course-2, .img-course-3 {
  width: 100%
}

.container-courses {
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  gap: 10px;
  margin-top: 30px;
}

.sumit-container {
  background-image: url("youth.jpg");
  min-height: 70vh;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
  display: flex;
  align-items: end;
}

.sumit-content {
  flex: 1;
  display:flex;
  align-items: center;
  justify-content: space-between;
}