/* Global Styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  color: #333;
}

h1 {
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
}

p {
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
}
/* end of global styles */

/* header styles */
.nav-bar {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  padding: 0 50px;
  margin: 0 auto;
  max-width: 1200px;
}

.nav-wrapper {
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding-top: 5px;
}

.img-logo {
  width: 170px;
  padding-top: 2px;
  margin-right: 40px;
}

.nav-links {
  display: flex;
  flex: 1;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.search-button {
  background-color: rgb(165, 185, 18);
  border: none;
  padding: 10px 12px;
  border-radius: 22px;
  cursor: pointer;
  transition: 0.5s;
}

.search-button:hover {
  background-color: purple;
}

.search-icon {
  height: 18px;
  margin-top: 2px;
  color: #ffffff;
}

ul {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 17px;
  transition: 0.25s;
}

.nav-links li a:hover {
  color: rgb(126, 126, 255);
}
/* end of header styles */

/* hero section styles */
.hero-section {
  background-image:linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url("images/youth.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  align-items: center;
}

.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container-hero-section {
  margin-top: 310px;
}

.main-heading{
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.paragr {
  text-align: center;
  font-size: 24px;
  color: white;
}

.hyper-links {
  margin-top: 40px;
  cursor: pointer;
}

.partner-link {
  background-color: purple;
  color: white;
  text-decoration: none;
  padding:	15px	30px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.5s;
}

.partner-link:hover {
  background-color:  white; 
  color: purple;
}

.explore-link {
  background-color: rgb(165, 185, 18);
  color: white;
  text-decoration: none;
  text-align: center;
  padding:	15px	30px;
  border-radius: 5px;
  margin-left: 14px;
  margin-right: 14px;
  font-weight: bold;
  transition: 0.5s;
}

.explore-link:hover {
  background-color:  white; 
  color: purple;
}

.hire-link {
  background-color:  white; 
  color: purple;
  text-decoration: none;
  text-align: center;
  padding:	15px	30px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.5s;
}

.hire-link:hover {
  background-color:  rgb(45, 1, 147); 
  color: white;
}
/* end of hero section styles */

/* main section */
  /* sub hero styles */
.second-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 50px;
  justify-content: space-between;
  background-color: #f5f5f5;
}

.academy-heading {
  color: purple;
  font-size: 32px;
  font-weight: bold;
}

.subheading {
  color: teal;
  font-size: 20px;
  margin-bottom: 10px;
}

.learn-link {
  background-color: rgb(165, 185, 18);
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.5s;
}

.learn-div {
  margin-top: 70px
}

.learn-link:hover {
  background-color: rgb(51, 51, 191);
  color: white;
}

.refactory-img {
  width: 100%;
}
  
  /* explore section styles */
.headings {
  text-align: center;
  margin-top: 80px;
}

.start-head {
  color: #00BFA5;
}

.feature-head {
  color: purple;
  font-weight: bold;
  font-size: 30px;
}

.container-courses {
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  gap: 30px;
}

.head-course {
  color: purple;
  font-size: 20px;
}

.course-button {
  background-color: rgb(165, 185, 18);
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition:  0.5s;
}

.course-button:hover {
  background-color: rgb(51, 51, 191);
  color: white;
}

  /* 10x program section styles */
.program10x-heading {
  color: rgb(0, 130, 186);
  font-size: 32px;
  font-weight: bold;
}

.subheading-10x {
  color: 
  rgb(0, 16, 70);
  font-size: 20px;
  margin-bottom: 10px;
}

.logos {
  height: 145px;
}

.logos img {
  padding-top: 20px;
}

  /* UG_DEV_SUMMIT section styles */
.sumit-container {
  background-image:linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url("images/youth.jpg");
  background-position: center;
  background-size: cover;
  min-height: 70vh;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
  display: flex;
  align-items: end;
}

.sumit-content {
  flex: 1;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
/* end of main styles */


/* shared styles */
.par, .par-2, .course-par {
  color:black;
  font-weight: 100;
  font-size: 20px;
}

.course-1, .course-2, .course-3 {
  background-color: white;
  width: 355px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 2px 8px rgba(0,0,0, 0.1);
}

.course-1 p, .course-2 p, .course-3 p  {
  font-size: 16px;
  line-height: 25px;
  color: black;
}

.div-course-1, .div-course-2, .div-course-3 {
  width: 100%;
}

.img-course-1, .img-course-2, .img-course-3 {
  width: 100%;
  height: 220px;
}

.left-sec p, .program-10x p {
  font-size: 100%;
  color: rgb(88, 88, 88);
}

.program-10x, .img-program {
  margin-bottom: 50px;
}
/* end of shared styles */

/* fouter styles */
.ft-sec {
  background-color: #2C1A4D;
}

  /* ft1-section styles */
.ft1-section {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  padding: 25px 100px;
  gap: 20px;
}

.left-ft1 p {
  color: #ffffff;
  font-weight: 100;
}

.left-ft1-par {
  color: #000;
  font-size: 15px;
}

.mid-left-ft1 ul li a {
  text-decoration: none;
  color:#fff;
  cursor: pointer;
  transition: 0.5s;
}

.mid-left-ft1 ul li a:hover {
  color: teal;
}

.mid-right-ft1 p {
  color: white;
  cursor: pointer;
  font-weight: 100;
}

.right-ft1 p {
  color: white;
  font-weight: 100;
  margin-bottom: 15px;
}

.right-ft1 a {
  color: teal;
  text-decoration: none;
  font-weight: bold;
}

.mid-head {
  color: teal;
  font-size: 20px;
}

/* ft2-sction styles */
.ft2-par {
  color: #000;
}

.ft2-section {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 60px;
  margin-right: 60px;
  border-top: 1px solid rgba(255, 255, 255,1);
}

.ft2-section p {
  color: #ffffff;
}
/* end of footer styles */