/* Global Style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  color: #333;
  padding-bottom: 200px;
}

.container{
  padding: 0 20px;
  background-color:white;
  display: flex;
  flex-direction: row;
}

.nav-bar{
  background-color: #fff;

}

.menu-items{
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.items{
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.img-logo{
  width: 250px;
}

/* hero section */
.container-hero{
  background-color: blue;
  height: 450px;
  text-align: center;
}

/* link styles */
.partner-link{
  background-color: purple;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.explore-link{
  background-color: rgb(165, 185, 18);
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.hire-link{
  background-color:  white; 
  color: purple;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.learn-link{
  background-color: rgb(165, 185, 18);
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.hyper-links{
  margin-top: 40px;
}

/* styles for par */
h1{
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
}

p{
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
}

.par{
  color:black;
  font-weight: 100;
}

.refactory-img{
  width: 600px;
}

.second-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}